{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue sur ce blog</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet veniam odio iure tempora. Impedit sapiente doloribus hic natus quia fuga.</p>
<p>Inventore alias reprehenderit illum ducimus voluptates vel, placeat vitae incidunt iste a quam consequuntur nemo officia porro! Praesentium, recusandae sequi.</p>
<p>Illo temporibus quasi reiciendis quisquam libero dolorem. Deleniti earum laudantium minima soluta. Error officiis quam deserunt alias optio rem sed.</p>
<p>Debitis, eum corrupti quae reiciendis minus tenetur perspiciatis nam sed enim vel modi error, excepturi, reprehenderit atque quia consequatur fuga!</p>


{% endblock %}