{% extends 'base.html.twig' %}

{% block body %}

<h1>Titre</h1>


<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste alias quis, eligendi excepturi officia dolorem aperiam iusto pariatur quia obcaecati.</p>
<p>Labore voluptate cupiditate animi? Repellat, aut? Aliquam, odit accusamus, ratione molestias magnam itaque saepe voluptate atque et culpa sit cupiditate!</p>

{% endblock %}