{% extends 'base.html.twig' %}

{% block body %}

    <h1>Choisir un article à modifer :</h1>
    {% for article in articles %}
        <article>
            <p>{{ article.title }}</p>
            <a href="{{ path('blogEdit', {'id': article.id}) }}" class="btn btn-primary">Modifier</a>
        </article>
    {% endfor %}

{% endblock %}